@import "~@angular/material/theming";

@mixin labos-list-theme($theme) {
    $accent: map-get($theme, accent);

    .labo-card {
        box-shadow: 0 0 2px 0px map-get($accent, default) !important;
    }

    .labo-card-primary {
        box-shadow: 0 0 4px 2px map-get($accent, default) !important;
    }
}
