@import "~@angular/material/theming";

@mixin app-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $background: map-get($theme, background);

    .background-theme {
        background-color: map-get($background, card);
    }
}
