// .setting-icon {
//     position: absolute;
//     left: 4px;
//     top: 5px;
// }

.add-button {
    position: absolute;
    bottom: 20px;
    width: 70%;
}

.sidenav-name {
    padding: 0 10px;
}