<div class="sidenav-header">
    <div fxLayout="column" fxLayoutAlign="space-around center" fxFlex>
        <h1 class="sidenav-name">{{ serverName || "Parra Santana" }}</h1>
    </div>

    <button class="setting-icon" mat-icon-button (click)="openSettingsModal()">
        <mat-icon>settings</mat-icon>
    </button>

    <button *ngIf="isAdmin" mat-icon-button class="admin-panel-button" routerLink="/admin">
        <mat-icon>verified_user</mat-icon>
    </button>
</div>

<div fxLayout="column" fxFlex>
    <app-online-users-list fxlayout="column" fxFlex></app-online-users-list>

    <button *ngIf="pageStatus" mat-raised-button (click)="addAreaModal()"
            class="add-button" color="accent" fxFlexAlign="center">
        <span *ngIf="pageStatus === ePageStatus.LABOS">Ajouter un laboratoire</span>
        <span *ngIf="pageStatus === ePageStatus.STOCKS">Ajouter un entrepôt</span>
        <span *ngIf="pageStatus === ePageStatus.LOCATIONS">Ajouter une location</span>
    </button>
</div>