<span mat-dialog-title>Settings</span>

<form [formGroup]="form" (ngSubmit)="saveSettings()">
    <mat-dialog-content *ngIf="server" fxLayout="column" fxLayoutGap="20px">

        <mat-form-field color="accent" fxFlex>
            <mat-label>Rappel des productions</mat-label>
            <input matInput placeholder="Rappel" [min]="0" [max]="productionTime" type="number" autocomplete="off"
                   formControlName="reminder">
            <mat-hint>
                Temps (en minutes) avant la fin d'une production
            </mat-hint>
            <mat-error *ngIf="form.controls.reminder.hasError('required')">
                Ce champ est obligatoire (0 pour le supprimer)
            </mat-error>
        </mat-form-field>

        <mat-form-field color="accent" fxFlex>
            <mat-label>Tag</mat-label>
            <input matInput placeholder="Tag" type="text" formControlName="tag"
                   [matAutocomplete]="roleTagAutoCompletion">
            <mat-autocomplete #roleTagAutoCompletion="matAutocomplete">
                <mat-optgroup label="Roles">
                    <mat-option *ngFor="let role of discordRoles" [ngStyle]="{'color': role.color}"
                                [value]="'<@&' + role.id + '>'">
                        {{ role.name }}
                    </mat-option>
                </mat-optgroup>

                <mat-optgroup label="Utilisateurs">
                    <mat-option *ngFor="let user of discordUsers" [ngStyle]="{'color': user.color}"
                                [value]="'<@' + user.id + '>'">
                        {{ user.name }}
                    </mat-option>
                </mat-optgroup>

            </mat-autocomplete>
        </mat-form-field>

        <button *ngIf="server.url && !discordUserId" mat-flat-button color="accent" type="button"
                (click)="discordService.redirectToAuth()">
            Associer mon compte Discord
        </button>
        <button *ngIf="discordUserId" mat-flat-button color="warn" type="button"
                (click)="discordService.remove() ; refreshDiscordUserId()">
            Dissocier mon compte Discord
        </button>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close color="warn">Annuler</button>
        <button mat-flat-button color="primary" type="submit"
                [disabled]="form.invalid || form.pristine
                || (server?.reminder === form.controls.reminder.value && this.server?.roleTag === this.form.controls.tag.value)">Modifier</button>
    </mat-dialog-actions>
</form>